



.cycle-films h2 {
  margin: 24px 0;
}


.ui-tabs {
  position: relative;
}





/* jQuery UI Tabs */
.tabs ul {
  display: block; overflow: hidden;
  background-color: #ccc;
  color: #999;
}

.tabs ul > li {
  display: block; float: left; overflow: hidden;
  
  font-size: 0.875rem; font-family: Quicksand, sans-serif; font-weight: 700;
  text-align: center; text-transform: uppercase;
}

.tabs ul > li.ui-tabs-active {
  background-color: #fff; color: #bf7f30;
}

.tabs ul > li:hover {
  color: #bf7f30 !important;
}

.tabs ul > li > a {
  display: block;
  min-width: 120px;
  margin: 0; padding: 12px 6px;
  transition-duration: 0.25s;
}


/*
.monthpicker {
  position: absolute;
  right: 0;
}
*/




.intervention {
  font-weight: 600;
}


/* Films */
/*
.films-container {
  margin: 36px 0;
}

.films-container > h2 {
  margin: 2rem 0 0 0;
}

ul.films {
}

ul.films > li {
  margin: 1px 0; padding: 1px;
  font-size: 0.875rem;
}

ul.films > li:not(:last-child) {
  border-bottom: solid 1px #eee; 
}


ul.films a.title {
  color: #804600;
  font-weight: 400;
}

ul.films a.title:hover, ul.films a.title:active {
  text-decoration: underline;
}

ul.films div.shows {
  display: inline-block;
  margin-left: 4px;
}

ul.films a.show {
  display: inline-block;
  margin: 0 2px 0 0; border: solid 1px #999; padding: 0 4px;
  color: #666;
  font-size: 0.875rem;
  line-height: 1.125rem;
  transition-duration: 0.25s;
}

ul.films a.show:hover {
  background-color: #ddd;
}

ul.films a.show.past {
  color: #aaa;
  border-color: #ccc;
  background-color: transparent;
  cursor: default;
}


.sm {
  color: #666;
  font-size: 0.875rem;
}
*/