/* MENU */
header {
	z-index: 9999; overflow: hidden;
}

.logocf {
	display: block; float: left;
	width: 85px; height: 41px; margin-left: 15px;
	background-image: url(img/logo85x41.png);
	background-repeat: no-repeat; background-position: 0 50%; opacity: 0.5;
}

.menu {
	position: relative;
	padding: 0;
	background-color: #494643;
	color: #eee;
}

.menu .search-container {
	margin: 19px 15px; padding: 0;
	background-color: #fff;
}

.menu .search-container input[type='text'] {
	width: auto; min-width: 300px;
	height: 32px;
	margin: 0; border: none; padding: 0 4px;
	font-size: 0.875rem;
	background-color: #fff;
}

.menu .search-container button {
	margin: 0; padding: 0;
	background-color: inherit; color: #666;
	width: 32px; height: 32px; font-family: FontAwesome;
}

.menu .search-container input:focus {
	box-shadow: none;
}

.menu ul {
	margin: 0 0 1px 0; width: auto;
}

.menu li:first-child {
	margin-left: 11px;
}

.menu li {
	display: block; float: left; 
}

.menu ul a {
	position: relative; display: block;
	min-width: 60px;
	padding: 12px 6px;
	text-align: center;
  color: #fff;
  font-family: "Quicksand"; font-size: 0.875rem; font-weight: 700;
  text-transform: uppercase; text-decoration: none;
}

.menu ul a.active:after {
	position: absolute;
	content: "";
	height: 2px; right: 16px; bottom: 10px; left: 16px;
	background-color: inherit;
	transition-duration: 0.35s;
}

.menu ul a:hover, .menu ul a:active {
	color: #d9ad77;
	background-color: #514f4c;
}

.menu ul a.active {
	color: #d9ad77;
}

.menu ul a.active:after {
	background-color: #d9ad77;
}

.submenu {
	position: relative;
	width: 100%; height: 48px;
	padding: 0;
	/*background-color: #eee;*/ background-color: #ccc;
}

.submenu nav {
	position: relative;
}

.submenu ul {
	display: inline-block; position: absolute; width: auto;
	right: 0;
}

.submenu li {
	display: block; float: left;

}

.submenu li a {
	display: inline-block; overflow: hidden; position: relative;
	min-width: 80px; height: 32px;
	margin: 8px 1px; padding: 0 4px;
	color: #bf7f30;
  font-family: "Quicksand"; font-size: 0.875rem; font-weight: 700;
  text-transform: uppercase; text-decoration: none; text-align: center;
	line-height: 32px;
	transition: 0.35s;
}

.submenu li a:after {
	position: absolute;
	content: "";
	height: 2px; right: 5px; bottom: 4px; left: 5px;
	background-color: transparent;
}

.submenu li:not(:first-child) a:after {
	left: 15px;
}

.submenu li:not(:first-child) a:before {
	display: inline-block; position: relative;
	padding-right: 6px;
	font-family: FontAwesome; font-weight: normal;
	content: '\f105';
}

.submenu li a.active:after, .submenu li a:hover:after {
	background-color: #bf7f30;
	transition-duration: 0.35s;
}

.submenu li a i {
	margin-left: 4px;
}
