/*
Fond+texte: 33°/85%/65% = #a66619 => #115273
Titrage: 33°/75%/75% = #bf7f30 => #23698c
Fond menu: 33°/45%/85% = #d9ad77 => #77b8d9
*/

section.content.color {
  background-color: #115273;
}

.cycle-films a.title, ul.films a.title, .calendar .title {
  color: #115273;
}

.submenu li a.active:after, .submenu li a:hover:after, button, .button, button:focus, .button:focus {
  background-color: #23698c;
}

h1, h2, .tabs > ul > li.ui-tabs-active, .submenu li a {
  color: #23698c;
}

.tabs > ul a:hover, .tabs > ul a:active {
  color: #23698c !important;
}

.menu ul a:hover, .menu ul a:active, h1.sub, h1 > .sub {
  color: #77b8d9;
}

.menu ul a.active:after {
  background-color: #77b8d9;
}


/* monthPicker */
.mp-month td:not(.mp-disabled):not(.mp-selected):hover { background-color: #23698c; }
.mp-month td.mp-selected { background-color: #115273; }
.mp-prev:not(.mp-disabled):hover, .mp-next:not(.mp-disabled):hover { background-color: #23698c; }

