/*
33°/85%/65% = #a66619 => #1930a6
33°/75%/75% = #bf7f30 => #3048bf
33°/45%/85% = #d9ad77 => #7787d9
*/

section.content.color {
  background-color: #1930a6;
}

.cycle-films a.title, ul.films a.title, .calendar .title {
  color: #1930a6;
}

.submenu li a.active:after, .submenu li a:hover:after, button, .button, button:focus, .button:focus {
  background-color: #3048bf;
}

h1, h2, .tabs > ul > li.ui-tabs-active, .submenu li a {
  color: #3048bf;
}

.tabs > ul a:hover, .tabs > ul a:active {
  color: #3048bf !important;
}

.menu ul a:hover, .menu ul a:active, h1.sub, h1 > .sub {
  color: #7787d9;
}

.menu ul a.active:after {
  background-color: #7787d9;
}


/* monthPicker */
.mp-month td:not(.mp-disabled):not(.mp-selected):hover { background-color: #3048bf; }
.mp-month td.mp-selected { background-color: #1930a6; }
.mp-prev:not(.mp-disabled):hover, .mp-next:not(.mp-disabled):hover { background-color: #3048bf; }


