/*
33°/85%/65% = #a66619 => #a61919
33°/75%/75% = #bf7f30 => #bf3030
33°/45%/85% = #d9ad77 => #d97777
*/

section.content.color {
  background-color: #a61919;
}

.cycle-films a.title, ul.films a.title, .calendar .title {
  color: #a61919;
}

.submenu li a.active:after, .submenu li a:hover:after {
  background-color: #bf3030;
}

h1, h2, .tabs > ul > li.ui-tabs-active, .submenu li a {
  color: #bf3030;
}

.tabs > ul a:hover, .tabs > ul a:active {
  color: #bf3030 !important;
}

.menu ul a:hover, .menu ul a:active, h1.sub, h1 > .sub {
  color: #d97777;
}

.menu ul a.active:after {
  background-color: #d97777;
}


/* monthPicker */
.mp-month td:not(.mp-disabled):not(.mp-selected):hover { background-color: #bf3030; }
.mp-month td.mp-selected { background-color: #a61919; }
.mp-prev:not(.mp-disabled):hover, .mp-next:not(.mp-disabled):hover { background-color: #bf3030; }

